<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
    <script src="./static/js/customer_raffles.js"></script>
</head>
<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Customer Raffles</h2>
    <h3><strong>Manage Customer Raffle History</strong></h3>
    <!-- Add a new Customer Raffle intersection to the database -->
    <button class="addBtn" onclick="showAddForm('#customerRaffleAddForm')">Add New Customer Raffle Entry</button>
    <form action="customer_raffles" method="POST" id="customerRaffleAddForm" class="addForm" style="display: none">
        <legend>
            <strong>Add Customer Raffle</strong>
        </legend>
        <fieldset>
            <label for="customerRaffleID">Raffle ID</label>
            <select name="customerRaffleID" id="customerRaffleID">
            {% for raffle in raffles %}
                <option value="{{raffle.raffle_id}}">{{raffle.raffle_id}}</option>
                {% endfor %}
            </select required>
            <label for="customerCustomerID">Customer ID</label>
            <select name="customerCustomerID" id="customerCustomerID">
            {% for customer in customers %}
                <option value="{{customer.customer_id}}">{{customer.customer_id}}</option>
                {% endfor %}
            </select required>
            <label for="customerWonRaffle">Won Raffle</label>
            <select name="customerWonRaffle" id="customerWonRaffle">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select required>
            <br>
            <br>
            <button type="submit">Add Customer Raffle</button>
			<button onclick="hideAddForm()">Cancel</button>
        </fieldset>
    </form>
    <form method="POST" id="customerRaffleUpdateForm" style="display: none">
        <legend>
            <strong>Update Customer Raffle</strong>
        </legend>
        <fieldset>
            <label for="crIDUpdate">Customer Raffle ID</label>
            <span id="crIDUpdate"></span>
            <label for="crRaffleIDUpdate">Raffle ID</label>
            <select name="crRaffleIDUpdate" id="crRaffleIDUpdate">
                {% for raffle in raffles %}
                <option value="{{raffle.raffle_id}}">{{raffle.raffle_id}}</option>
                {% endfor %}
            </select required>
            <label for="crCustomerIDUpdate">Customer ID</label>
            <select name="crCustomerIDUpdate" id="crCustomerIDUpdate">
                {% for customer in customers %}
                <option value="{{customer.customer_id}}">{{customer.customer_id}}</option>
                {% endfor %}
            </select required>
            <label for="crWonRaffleUpdate">Won Raffle</label>
            <select name="crWonRaffleUpdate" id="crWonRaffleUpdate">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select required>
            <br>
            <br>
            <button type="submit">Update Customer Raffle</button>
			<button type="button" onclick="cancelForm('#customerRaffleUpdateForm')">Cancel</button>
        </fieldset>
    </form>
    <form method="POST" id="customerRaffleDeleteForm" class="deleteForm" style="display: none">
        <legend>
            <strong>Delete Customer Raffle</strong>
        </legend>
        <fieldset>
            <label for="crIDDelete"><u>Customer Raffle ID</u></label>
            <span id="customerRaffleIDDelete"></span>
            <br>
            <br>
            <button type="submit">Delete Customer Raffle</button>
			<button onclick="hideDeleteForm()">Cancel</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Customer Raffle ID</th>
                <th>Raffle ID</th>
                <th>Customer ID</th>
                <th>Won Raffle</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
		 		<!-- The for loop code is based on the CS 340 Flask Starter App -->
		  		<!-- access the dictionary data passed from the customer raffle blueprint -->
		  		<!-- iterate through the list of dictionaries -->
				{% for customer_raffle in customers_raffles %}
            	<tr>
		  			<!-- place each column value in table cells -->
					<td>{{ customer_raffle.customer_raffle_id }}</td>
					<td>{{ customer_raffle.raffle_id}}</td>
					<td>{{ customer_raffle.customer_id}}</td>
					<td>{{ customer_raffle.won_raffle }}</td>

	   				<!-- The JavaScript function implementations are original -->
		  			<!-- pass the customer raffle object to the edit form -->
                	<td><button onclick="showCustomerRaffleUpdate('{{customer_raffle['customer_raffle_id']}}', '{{ customer_raffle['raffle_id']}}','{{customer_raffle['customer_id']}}', '{{customer_raffle['won_raffle']}}')">Edit</button></td>

		  			<!-- pass the customer raffle object to the delete form -->
                	<td><button onclick="showCustomerRaffleDelete('{{ customer_raffle['customer_raffle_id']}}')">Delete</button></td>
            	</tr>
				{% endfor %}
         </tbody>
    </table>
</body>
</html>
