<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
</head>
<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Customers</h2>
    <h3><strong>View Existing Customers</strong></h3>
	<!-- Add a new Customer to the database -->
    <button class="addBtn" onclick="showAddForm('#customerAddForm')">Add New Customer Entry</button>
    <form action="customers" method="POST" id="customerAddForm" style="display: none">
        <legend>
            <strong>Add Customer</strong>
        </legend>
        <fieldset>
            <label for="customerName">Name</label>
            <input type="text" name="customerName" required>
            <label for="customerEmail">Email</label>
            <input type="email" name="customerEmail" required>
            <label for="customerName">Phone Number <br> (###-###-####)</label>
            <input type="tel" name="customerPhone" class="phoneInput" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            <br>
            <br>
            <button type="submit">Add Customer</button>
			<button type="button" onclick="cancelForm('#customerAddForm')">Cancel</button>
        </fieldset>
    </form>
	<!-- Update a Customer in the database -->
    <form method="POST" id="customerUpdateForm" style="display: none">
        <legend>
            <strong>Update Customer</strong>
        </legend>
        <fieldset>
            <label for="customerIDUpdate">Customer ID</label>
            <span id="customerIDUpdate"></span>
            <label for="customerNameUpdate">Name</label>
            <input type="text" name="customerNameUpdate" value="" required>
            <label for="customerEmailUpdate">Email</label>
            <input type="email" name="customerEmailUpdate" value="" required>
            <label for="customerPhoneUpdate">Phone Number <br> ###-###-####</label>
            <input type="tel" name="customerPhoneUpdate" class="phoneInput" value="" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            <br>
            <br>
            <button type="submit">Update Customer</button>
			<button type="button" onclick="cancelForm('#customerUpdateForm')">Cancel</button>
        </fieldset>
    </form>
	<!-- Delete a Customer from the database -->
    <form method="POST" id="customerDeleteForm" style="display: none">
        <legend>
            <strong>Delete Customer</strong>
        </legend>
        <fieldset>
            <label for="customerIDDelete"><u>Customer ID</u></label>
            <span id="customerIDDelete"></span>
            <label for="customerNameDelete"><u>Customer Name</u></label>
            <span id="customerNameDelete"></span>
            <br>
            <br>
            <button type="submit">Delete Customer</button>
			<button type="button" onclick="cancelForm('#customerDeleteForm')">Cancel</button>
        </fieldset>
    </form>
    <table>
         <thead>
            <tr>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
         </thead>
         <tbody>
		 		<!-- The for loop code is based on the CS 340 Flask Starter App -->
                <!-- Source date: 2/25/25 -->
		  		<!-- access the dictionary data passed from the customer blueprint -->
		  		<!-- iterate through the list of dictionaries -->
				{% for customer in customers %}
            	<tr>
		  			<!-- place each column value in table cells -->
					<td>{{ customer.customer_id }}</td>
					<td>{{ customer.name}}</td>
					<td>{{ customer.email}}</td>
					<td>{{ customer.phone_number }}</td>

	   				<!-- The JavaScript function implementations are original -->
		  			<!-- pass the customer object to the edit form -->
                	<td><button onclick="showCustomerUpdate({{ customer }})">Edit</button></td>

		  			<!-- pass the customer object to the delete form -->
                	<td><button onclick="showCustomerDelete({{ customer }})">Delete</button></td>
            	</tr>
				{% endfor %}
         </tbody>
    </table>
</body>
<script src="./static/js/customers.js"></script>
</html>
