<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
    <script src="./static/js/drawings.js"></script>
</head>
<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Drawings</h2>
    <h3><strong>Browse Raffle Drawings</strong></h3>
    <!-- Add a new Drawing to the database -->
    <button class="addBtn" onclick="showAddForm('#drawingAddForm')">Add New Drawing Entry</button>
    <form action="drawings" method="POST" id="drawingAddForm" style="display: none">
        <legend>
            <strong>Add Drawing</strong>
        </legend>
        <fieldset>
            <label for="drawingRaffleID">Raffle</label>
            <select name="drawingRaffleID" id="drawingRaffleID">
                {% for raffle in raffles %}
                    <option value="{{ raffle['raffle_id'] }}">{{ raffle['raffle_description'] }}</option>
                {% endfor %}
            </select>
            <label for="drawingDate">Draw Date</label>
            <input type="date" name="drawingDate" required>
            <label for="drawingDay">Draw Day</label>
            <select name="drawingDay" id="drawingDay">
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
            </select required>
            <br>
            <br>
            <button type="submit">Add Drawing</button>
			<button type="button" onclick="cancelForm('#drawingAddForm')">Cancel</button>
        </fieldset>
    </form>
    <!-- Update a Drawing in the database -->
    <form method="POST" id="drawingUpdateForm" style="display: none">
        <legend>
            <strong>Update Drawing</strong>
        </legend>
        <fieldset>
            <label for="drawingIDUpdate">Drawing ID</label>
            <span id="drawingIDUpdate"></span>
            <label for="drawingRaffleIDUpdate">Raffle</label>
            <select name="drawingRaffleIDUpdate" id="drawingRaffleIDUpdate">
                {% for raffle in raffles %}
                    <option value="{{ raffle.raffle_id}}">{{ raffle.raffle_description }}</option>
                {% endfor %}
            </select required>
            <label for="drawingDateUpdate">Draw Date</label>
            <input type="date" name="drawingDateUpdate" value="" required>
            <label for="drawingDayUpdate">Draw Day</label>
            <select name="drawingDayUpdate" id="drawingDayUpdate">
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
            </select required>
            <br>
            <br>
            <button type="submit">Update Drawing</button>
			<button type="button" onclick="cancelForm('#drawingUpdateForm')">Cancel</button>
        </fieldset>
    </form>
    <!-- Delete a Drawing from the database -->
    <form method="POST" id="drawingDeleteForm" style="display: none">
        <legend>
            <strong>Delete Drawing</strong>
        </legend>
        <fieldset>
            <label for="drawingIDDelete"><u>Drawing ID</u></label>
            <span id="drawingIDDelete"></span>
            <br>
            <br>
            <button type="submit">Delete Drawing</button>
			<button type="button" onclick="cancelForm('#drawingDeleteForm')">Cancel</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Drawing ID</th>
                <th>Raffle ID</th>
                <th>Raffle Description</th>
                <th>Draw Date</th>
                <th>Draw Day</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
         <tbody>
		 		<!-- The for loop code is based on the CS 340 Flask Starter App -->
                <!-- Source date: 3/8/25 -->
                <!-- Adapted from: -->
                <!-- https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master/bsg_people_app/templates -->
		  		<!-- access the dictionary data passed from the drawing blueprint -->
		  		<!-- iterate through the list of dictionaries -->
				{% for drawing in drawings %}
            	<tr>
		  			<!-- place each column value in table cells -->
					<td>{{ drawing.drawing_id }}</td>
					<td>{{ drawing.raffle_id}}</td>
					<td>{{ drawing.raffle_description}}</td>
					<td>{{ drawing.draw_date}}</td>
					<td>{{ drawing.draw_day }}</td>
	   				<!-- The JavaScript function implementations are original -->
		  			<!-- pass the drawing attributes to the edit form -->
                	<td><button onclick="showDrawingUpdate(
                        '{{ drawing['drawing_id'] }}',
                        '{{ drawing['raffle_id'] }}',
                        '{{ drawing['draw_date'] }}',
                        '{{ drawing['draw_day'] }}')">Edit</button></td>
		  			<!-- pass the drawing_id to the delete form -->
                	<td><button onclick="showDrawingDelete(
                        '{{ drawing['drawing_id'] }}')">Delete</button></td>
            	</tr>
				{% endfor %}
         </tbody>
    </table>
</body>
</html>
