<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
</head>
<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Drawings</h2>
    <p><strong>Browse Raffle Drawings</strong></p>
    <button onclick="showAddForm()">Add New Drawing Entry</button>
    <form action="drawings.html" method="POST" class="addForm" style="display: none">
        <legend>
            <strong>Add Drawing</strong>
        </legend>
        <fieldset>
            <label for="drawingRaffleID">Raffle ID</label>
            <select name="drawingRaffleID" id="drawingRaffleID">
                <option value="blank"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label for="drawingDate">Draw Date</label>
            <input type="date" name="drawingDate" required>
            <label for="drawingDay">Draw Day</label>
            <select name="drawingDay" id="drawingDay">
                <option value="sun">Sunday</option>
                <option value="mon">Monday</option>
                <option value="tue">Tuesday</option>
                <option value="wed">Wednesday</option>
                <option value="thu">Thursday</option>
                <option value="fri">Friday</option>
                <option value="sat">Saturday</option>
            </select required>
            <br>
            <br>
            <button type="submit">Add Drawing</button>
			<button onclick="hideAddForm()">Cancel</button>
        </fieldset>
    </form>
    <form action="drawings.html" class="updateForm" style="display: none">
        <legend>
            <strong>Update Drawing</strong>
        </legend>
        <fieldset>
            <label for="drawingIDUpdate">Drawing ID</label>
            <span>1</span>
            <label for="drawingRaffleIDUpdate">Raffle ID</label>
            <select name="drawingRaffleIDUpdate" id="drawingRaffleIDUpdate">
                <option value="1">1</option>
            </select required>
            <label for="drawingDateUpdate">Draw Date</label>
            <input type="date" name="drawingDateUpdate" value="2025-04-12" required>
            <label for="drawingDayUpdate">Draw Day</label>
            <select name="drawingDayUpdate" id="drawingDayUpdate">
                <option value="sun">Sunday</option>
                <option value="mon">Monday</option>
                <option value="tue">Tuesday</option>
                <option value="wed">Wednesday</option>
                <option value="thu">Thursday</option>
                <option value="fri">Friday</option>
                <option value="sat" selected>Saturday</option>
            </select required>
            <br>
            <br>
            <button type="submit">Update Drawing</button>
			<button onclick="hideUpdateForm()">Cancel</button>
        </fieldset>
    </form>
    <form action="drawings.html" class="deleteForm" style="display: none">
        <legend>
            <strong>Delete Drawing</strong>
        </legend>
        <fieldset>
            <label for="drawingIDDelete"><u>Drawing ID</u></label>
            <span>1</span>
            <br>
            <br>
            <button type="submit">Delete Drawing</button>
			<button onclick="hideDeleteForm()">Cancel</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Drawing ID</th>
                <th>Raffle ID</th>
                <th>Draw Date</th>
                <th>Draw Day</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>04-12-2025</td>
                <td>Saturday</td>
                <td><button onclick="showUpdateForm()">Edit</button></td>
                <td><button onclick="showDeleteForm()">Delete</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>05-17-2025</td>
                <td>Saturday</td>
                <td><button onclick="showUpdateForm()">Edit</button></td>
                <td><button onclick="showDeleteForm()">Delete</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>3</td>
                <td>06-13-2025</td>
                <td>Friday</td>
                <td><button onclick="showUpdateForm()">Edit</button></td>
                <td><button onclick="showDeleteForm()">Delete</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
