<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
</head>
<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Customers</h2>
    <p>The Customers page shows a table of the existing customers and can be used to add a new customer and update or delete an existing customer.</p>
    <h2>Sneakers</h2>
    <p>The Sneakers page shows a table of the sneaker inventory. Add a new sneaker and update or delete an existing sneaker.</p>
    <h2>Orders</h2>
    <p>The Orders page displays the order history table. Add order entries and update or delete existing orders.</p>
    <h2>Raffles</h2>
    <p>The Raffles page contains information about each raffle. Add a new raffle entry and update or delete an existing raffle.</p>
    <h2>Drawings</h2>
    <p>The Drawings page shows the date and day of each raffle. Add a new drawing entry and update or delete existing drawings.</p>
    <h2>Sneaker Orders</h2>
    <p>The Sneaker Orders page shows a table of the orders, which sneakers were purchased, and the quantity sold. Add a new transaction, and update or delete existing sneaker orders.</p>
    <h2>Raffle Orders</h2>
    <p>The Raffle Orders page shows a table of the orders and the raffle entries that were sold during the order. Add a new transaction, and update or delete existing raffle orders.</p>
    <h2>Customer Raffles</h2>
    <p>The Customer Raffles page contains information about each raffle, the customers who bought an entry, and each winner. Add a new customer raffle entry, and update or delete existing customer raffle entries.</p>
</body>
</html>