<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
    <script src="./static/js/orders.js"></script>
</head>
<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Orders</h2>
    <h3><strong>View Order History</strong></h3>
    <button class="addBtn" onclick="showAddForm('#orderAddform')">Add New Order Entry</button>
    <form action="orders" method="POST" id="orderAddForm" style="display: none">
        <legend>
            <strong>Add Order</strong>
        </legend>
        <fieldset>
            <label for="orderCustomerID">Customer</label>
            <select name="orderCustomerID" id="orderCustomerID">
                {% for customer in customers %}
                <option value="{{customer.customer_id}}">{{customer.customer_id}}</option>
                {% endfor %}
            </select>
            <label for="orderDate">Purchase Date</label>
            <input type="date" name="orderDate" required>
            <label for="orderPrice">Total Price</label>
            <input type="number" name="orderPrice" required>
            <label for="orderEnteredRaffle">Entered Raffle</label>
            <select name="orderEnteredRaffle" id="orderEnteredRaffle">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select required>
            <br>
            <br>
            <button type="submit">Add Order</button>
			<button type="button" onclick="cancelForm('#orderAddForm')">Cancel</button>
        </fieldset>
    </form>
    <!-- Update an Order in the database -->
    <form method="POST" id="orderUpdateForm" style="display: none">
        <legend>
            <strong>Update Order</strong>
        </legend>
        <fieldset>
            <label for="orderIDUpdate">Order ID</label>
            <span id="orderIDUpdate">1</span>
            <label for="orderCustomerIDUpdate">Customer ID</label>
            <select name="orderCustomerIDUpdate" id="orderCustomerIDUpdate">
                {% for customer in customers %}
                <option value="{{customer.customer_id}}">{{customer.customer_id}}</option>
                {% endfor %}
            </select required>
            <label for="orderDateUpdate">Purchase Date</label>
            <input type="date" name="orderDateUpdate" id="orderDateUpdate" value="2025-06-13" required>
            <label for="orderPriceUpdate">Total Price</label>
            <input type="number" name="orderPriceUpdate" id="orderDateUpdate" step="0.01" value="620.00" required>
            <label for="orderEnteredRaffleUpdate">Entered Raffle</label>
            <select name="orderEnteredRaffleUpdate" id="orderEnteredRaffleUpdate">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select required>
            <br>
            <br>
            <button type="submit">Update Order</button>
			<button type="button" onclick="cancelForm('#orderUpdateForm')">Cancel</button>
        </fieldset>
    </form>
    <form method="POST" class="deleteForm" id="orderDeleteForm" style="display: none">
        <legend>
            <strong>Delete Order</strong>
        </legend>
        <fieldset>
            <label for="orderIDDelete"><u>Order ID</u></label>
            <span id="orderIDDelete"></span>
            <br>
            <br>
            <button type="submit">Delete Order</button>
			<button type="button" onclick="cancelForm('#orderDeleteForm')">Cancel</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer ID</th>
                <th>Purchase Date</th>
                <th>Total Price</th>
                <th>Entered Raffle</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <!-- The for loop code is based on the CS 340 Flask Starter App -->
		  		<!-- access the dictionary data passed from the order blueprint -->
		  		<!-- iterate through the list of dictionaries -->
				{% for order in orders %}
            	<tr>
		  			<!-- place each column value in table cells -->
					<td>{{ order.order_id }}</td>
					<td>{{ order.customer_id}}</td>
					<td>{{ order.purchase_date}}</td>
					<td>{{ order.total_price}}</td>
                    <td>{{ order.entered_raffle}}</td>

	   				<!-- The JavaScript function implementations are original -->
		  			<!-- pass the order object to the edit form -->
                	<td><button onclick="showOrderUpdate('{{ order['order_id'] }}', '{{ order['customer_id'] }}', '{{ order['purchase_date'] }}', '{{ order['total_price'] }}', '{{ order['entered_raffle'] }}')">Edit</button></td>

		  			<!-- pass the order object to the delete form -->
                	<td><button onclick="showOrderDelete( '{{ order['order_id'] }}' )">Delete</button></td>
            	</tr>
				{% endfor %}
         </tbody>
    </table>
</body>
</html>