<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
    <script src="./static/js/raffles.js"></script>
</head>
<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Raffles</h2>
    <h3><strong>View Raffle Information</strong></h3>
     <!-- Add a new Drawing to the database -->
    <button class="addBtn" onclick="showAddForm('#raffleAddForm')">Add New Raffle Entry</button>
    <form action="raffles" method="POST" id="raffleAddForm" style="display: none">
        <legend>
            <strong>Add Raffle</strong>
        </legend>
        <fieldset>
            <label for="raffleSneakerID">Sneaker</label>
            <select name="raffleSneakerID" id="raffleSneakerID">
            {% for sneaker in sneakers %}
                <option value="{{sneaker.sneaker_id}}">{{sneaker.sneaker_id}}</option>
                {% endfor %}    
            </select required>
            <label for="raffleDescription">Raffle Description</label>
            <textarea name="raffleDescription" id="raffleDescription" rows="5" cols="30"></textarea>
            <label for="raffleEntryCost">Entry Cost</label>
            <input type="number" name="raffleEntryCost" id="raffleEntryCost" required>
            <br>
            <br>
            <button type="submit">Add Raffle</button>
			<button type="button" onclick="cancelForm('#raffleAddForm')">Cancel</button>
        </fieldset>
    </form>
    <!-- Update a Raffle in the database -->
    <form method="POST" id="raffleUpdateForm" style="display: none">
        <legend>
            <strong>Update Raffle</strong>
        </legend>
        <fieldset>
            <label for="raffleIDUpdate">Raffle ID</label>
            <span id="raffleIDUpdate">raffleIDUpdate</span>
            <label for="raffleSneakerIDUpdate">Sneaker ID</label>
            <select name="raffleSneakerIDUpdate" id="raffleSneakerIDUpdate">
                {% for sneaker in sneakers %}
                <option value="{{sneaker.sneaker_id}}">{{sneaker.sneaker_id}}</option>
                {% endfor %}
            </select required>
            <label for="raffleDescriptionUpdate">Raffle Description</label>
            <textarea name="raffleDescriptionUpdate" id="raffleDescriptionUpdate" rows="5" cols="30" required>The Nike Air Yeezy 2 "Red October" is the latest collaboration with musician and fashion designer Kanye West.</textarea>
            <label for="raffleEntryCostUpdate">Entry Cost</label>
            <input type="number" name="raffleEntryCostUpdate" id="raffleEntryCostUpdate" value="20.00" required>
            <br>
            <br>
            <button type="submit">Update Raffle</button>
			<button type="button" onclick="cancelForm('#raffleUpdateForm')">Cancel</button>
        </fieldset>
    </form>
    <form method="POST" id="raffleDeleteForm" class="deleteForm" style="display: none">
        <legend>
            <strong>Delete Raffle</strong>
        </legend>
        <fieldset>
            <label for="raffleIDDelete"><u>Raffle ID</u></label>
            <span id="raffleIDDelete"></span>
            <br>
            <br>
            <button type="submit">Delete Raffle</button>
			<button onclick="hideDeleteForm()">Cancel</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Raffle ID</th>
                <th>Sneaker ID</th>
                <th>Raffle Description</th>
                <th>Entry Cost</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Drawing ID</th>
                <th>Raffle ID</th>
                <th>Draw Date</th>
                <th>Draw Day</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
         <tbody>
		 		<!-- The for loop code is based on the CS 340 Flask Starter App -->
		  		<!-- access the dictionary data passed from the raffle blueprint -->
		  		<!-- iterate through the list of dictionaries -->
				{% for raffle in raffles %}
            	<tr>
		  			<!-- place each column value in table cells -->
					<td>{{ raffle.raffle_id }}</td>
					<td>{{ raffle.sneaker_id}}</td>
					<td>{{ raffle.raffle_description}}</td>
					<td>{{ raffle.entry_cost }}</td>

	   				<!-- The JavaScript function implementations are original -->
		  			<!-- pass the raffle object to the edit form -->
                	<td><button onclick="showRaffleUpdate('{{ raffle['raffle_id']}}', '{{raffle['sneaker_id']}}','{{raffle['raffle_description']}}', '{{raffle['entry_cost'] }}')">Edit</button></td>

		  			<!-- pass the raffle object to the delete form -->
                	<td><button onclick="showRaffleDelete('{{ raffle['raffle_id'] }}')">Delete</button></td>
            	</tr>
				{% endfor %}
         </tbody>
    </table>
</body>
</html>
