<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
    <script src="./static/js/raffle_orders.js"></script>
</head>
<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Raffle Orders</h2>
    <h3><strong>Manage Raffle Order Transactions</strong></h3>
	<!-- Add a new RaffleOrder to the database -->
    <button class="addBtn" onclick="showAddForm('#raffleOrderAddForm')">Add New Raffle Order Entry</button>
    <form action="raffle_orders" method="POST" id="raffleOrderAddForm" style="display: none">
        <legend>
            <strong>Add Raffle Order</strong>
        </legend>
        <fieldset>
            <label for="roOrderID">Customer</label>
            <select name="roOrderID" id="roOrderID">
		 		<!-- The for loop code is based on the CS 340 Flask Starter App -->
				{% for order in orders %}
                	<option value="{{ order['order_id'] }}">{{ order['name'] }}</option>
				{% endfor %}
            </select>
            <label for="roRaffleID">Raffle</label>
            <select name="roRaffleID" id="roRaffleID">
                <option value="0">NULL</option>
				{% for raffle in raffles %}
                	<option value="{{ raffle['raffle_id'] }}">{{ raffle['raffle_description'] }}</option>
				{% endfor %}
            </select>
            <br>
            <br>
            <button type="submit">Add Raffle Order</button>
			<button type="button" onclick="cancelForm('#raffleOrderAddForm')">Cancel</button>
        </fieldset>
    </form>
	<!-- Update a RaffleOrder in the database -->
    <form id="raffleOrderUpdateForm" method="POST" style="display: none">
        <legend>
            <strong>Update Raffle Order</strong>
        </legend>
        <fieldset>
            <label for="roIDUpdate">Raffle Order ID</label>
            <span id="roIDUpdate"></span>
            <label for="roOrderIDUpdate">Customer</label>
            <select name="roOrderIDUpdate" id="roOrderIDUpdate">
                {% for order in orders %}
                	<option value="{{ order['order_id'] }}">{{ order['name'] }}</option>
				{% endfor %}
            </select required>
            <label for="roRaffleIDUpdate">Raffle</label>
            <select name="roRaffleIDUpdate" id="roRaffleIDUpdate">
                <option value="0">NULL</option>
                {% for raffle in raffles %}
                	<option value="{{ raffle['raffle_id'] }}">{{ raffle['raffle_description'] }}</option>
				{% endfor %}
            </select required>
            <br>
            <br>
            <button type="submit">Update Raffle Order</button>
			<button type="button" onclick="cancelForm('#raffleOrderUpdateForm')">Cancel</button>
        </fieldset>
    </form>
	<!-- Delete a RaffleOrder from the database -->
    <form id="raffleOrderDeleteForm" method="POST" style="display: none">
        <legend>
            <strong>Delete Raffle Order</strong>
        </legend>
        <fieldset>
            <label for="roIDDelete"><u>Raffle Order ID</u></label>
            <span id="roIDDelete"></span>
            <br>
            <br>
            <button type="submit">Delete Raffle Order</button>
			<button type="button" onclick="cancelForm('#raffleOrderDeleteForm')">Cancel</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Raffle Order ID</th>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Raffle ID</th>
                <th>Raffle Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <!-- The for loop code is based on the CS 340 Flask Starter App -->
            <!-- Source date: 2/26/25 -->
            <!-- access the dictionary data passed from the raffle_order blueprint -->
            <!-- iterate through the list of dictionaries -->
			{% for raffle_order in raffle_orders %}
            <tr>
                <td>{{ raffle_order.raffle_order_id }}</td>
                <td>{{ raffle_order.order_id }}</td>
                <td>{{ raffle_order.name }}</td>
                <td>{{ raffle_order.raffle_id }}</td>
                <td>{{ raffle_order.raffle_description }}</td>
	   			<!-- The JavaScript function implementations are original -->
		  		<!-- pass the raffle_order attributes to the edit form -->
                <td><button onclick="showROUpdate(
                    '{{ raffle_order['raffle_order_id'] }}',
                    '{{ raffle_order['order_id'] }}',
                    '{{ raffle_order['raffle_id'] }}')">Edit</button></td>
                <!-- pass the raffle_order_id to the delete form -->
                <td><button onclick="showRODelete(
					'{{ raffle_order['raffle_order_id'] }}')">Delete</button></td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
</body>
</html>
