<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
    <script src="./static/js/sneaker_orders.js"></script>
</head>
<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Sneaker Orders</h2>
    <h3><strong>Manage Sneaker Order Transactions</strong></h3>
	<!-- Add a new SneakerOrder to the database -->
    <button class="addBtn" onclick="showAddForm('#sneakerOrderAddForm')">Add New Sneaker Order Entry</button>
    <form action="sneaker_orders" method="POST" id="sneakerOrderAddForm" style="display: none">
        <legend>
            <strong>Add Sneaker Order</strong>
        </legend>
        <fieldset>
            <label for="soOrderID">Order ID - Customer</label>
            <select name="soOrderID" id="soOrderID">
                {% for order in orders %}
                	<option value="{{ order.order_id }}">{{ order.order_id }} - {{ order.name }}</option>
				{% endfor %}
            </select required>
            <label for="soOrderID">Sneaker</label>
            <select name="soSneakerID" id="soSneakerID">
                <option value="0">NULL</option>
                {% for sneaker in sneakers %}
                	<option value="{{ sneaker.sneaker_id }}">{{ sneaker.brand }} {{ sneaker.model_name }}</option>
				{% endfor %}
            </select required>
            <label for="soQuantity">Quantity</label>
            <input type="number" name="soQuantity" required>
            <br>
            <br>
            <button type="submit">Add Sneaker Order</button>
			<button type="button" onclick="cancelForm('#sneakerOrderAddForm')">Cancel</button>
        </fieldset>
    </form>
    <!-- Update a Sneaker Order entry in the database -->
    <form method="POST" id="sneakerOrderUpdateForm" style="display: none">
        <legend>
            <strong>Update Sneaker Order</strong>
        </legend>
        <fieldset>
            <label for="soIDUpdate">Sneaker Order ID</label>
            <span id="soIDUpdate"></span>
            <label for="soOrderIDUpdate">Order ID - Customer</label>
            <select name="soOrderIDUpdate" id="soOrderIDUpdate">
                {% for order in orders %}
                	<option value="{{ order['order_id'] }}">{{ order['order_id'] }} - {{ order['name'] }}</option>
				{% endfor %}
            </select required>
            <label for="soSneakerIDUpdate">Sneaker</label>
            <select name="soSneakerIDUpdate" id="soSneakerIDUpdate">
                <option value="0">NULL</option>
                {% for sneaker in sneakers %}
                	<option value="{{ sneaker['sneaker_id'] }}">{{ sneaker['brand'] }} {{ sneaker['model_name'] }}</option>
				{% endfor %}
            </select required>
            <label for="soQuantityUpdate">Quantity</label>
            <input type="number" name="soQuantityUpdate" id="soQuantityUpdate" value="" required>
            <br>
            <br>
            <button type="submit">Update Sneaker Order</button>
			<button type="button" onclick="cancelForm('#sneakerOrderUpdateForm')">Cancel</button>
        </fieldset>
    </form>
    <!-- Delete a Sneaker Order entry from the database -->
    <form method="POST" id="sneakerOrderDeleteForm" style="display: none">
        <legend>
            <strong>Delete Sneaker Order</strong>
        </legend>
        <fieldset>
            <label for="soIDDelete"><u>Sneaker Order ID</u></label>
            <span id="soIDDelete"></span>
            <br>
            <br>
            <button type="submit">Delete Sneaker Order</button>
			<button type="button" onclick="cancelForm('#sneakerOrderDeleteForm')">Cancel</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Sneaker Order ID</th>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Sneaker ID</th>
                <th>Sneaker</th>
                <th>Quantity</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
		 	<!-- The for loop code is based on the CS 340 Flask Starter App -->
            <!-- Source date: 3/8/25 -->
            <!-- access the dictionary data passed from the sneaker_order blueprint -->
            <!-- iterate through the list of dictionaries -->
			{% for sneaker_order in sneaker_orders %}
            <tr>
                <td>{{ sneaker_order.sneaker_order_id }}</td>
                <td>{{ sneaker_order.order_id }}</td>
                <td>{{ sneaker_order.name}}</td>
                <td>{{ sneaker_order.sneaker_id }}</td>
                <td>{{ sneaker_order.brand }} {{ sneaker_order.model_name }}</td>
                <td>{{ sneaker_order.quantity }}</td>
	   			<!-- The JavaScript function implementations are original -->
                <!-- pass the sneaker_order attributes to the delete form -->
                <td><button onclick="showSOUpdate(
                    '{{ sneaker_order['sneaker_order_id'] }}',
                    '{{ sneaker_order['order_id'] }}',
                    '{{ sneaker_order['sneaker_id'] }}',
					'{{ sneaker_order['quantity'] }}')">Edit</button></td>
                <!-- pass the sneaker_order_id to the delete form -->
                <td><button onclick="showSODelete(
					'{{ sneaker_order['sneaker_order_id'] }}')">Delete</button></td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
</body>
</html>
