<!-- The for loop code is based on the CS 340 Flask Starter App -->
<!-- Source date: 3/1/25 -->
<!-- Adapted from: -->
<!-- https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master/bsg_people_app/templates -->
<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
    <script src="./static/js/sneakers.js"></script>
</head>

<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Sneakers</h2>
    <h3><strong>Browse All Sneakers</strong></h3>
    <!-- Add a new Sneaker to the database -->
    <button class="addBtn" onclick="showAddForm('#sneakerAddForm')">Add New Sneaker Entry</button>
    <form action="sneakers" method="POST" id="sneakerAddForm" style="display: none">
        <legend>
            <strong>Add Sneaker</strong>
        </legend>
        <fieldset>
            <label for="sneakerBrand">Brand</label>
            <input type="text" name="sneakerBrand" required>
            <label for="sneakerModel">Model Name</label>
            <input type="text" name="sneakerModel" required>
            <label for="sneakerSize">Size</label>
            <input type="number" name="sneakerSize" required>
            <label for="sneakerColorway">Colorway</label>
            <input type="text" name="sneakerColorway" required>
            <label for="sneakerPrice">Price</label>
            <input type="number" name="sneakerPrice" required step="0.01">
            <label for="sneakerStock">Stock Count</label>
            <input type="number" name="sneakerStock" required>
            <br>
            <br>
            <button type="submit">Add Sneaker</button>
            <button type="button" onclick="cancelForm('#sneakerAddForm')">Cancel</button>
        </fieldset>
    </form>
    <!-- Update a Sneaker in the database -->
    <form method="POST" id="sneakerUpdateForm" style="display: none">
        <legend>
            <strong>Update Sneaker</strong>
        </legend>
        <fieldset>
            <label for="sneakerIDUpdate">Sneaker ID</label>
            <span id="sneakerIDUpdate"></span>
            <label for="sneakerBrandUpdate">Brand</label>
            <input type="text" name="sneakerBrandUpdate" value="" required>
            <label for="sneakerModelUpdate">Model Name</label>
            <input type="text" name="sneakerModelUpdate" value="" required>
            <label for="sneakerSizeUpdate">Size</label>
            <input type="number" name="sneakerSizeUpdate" value="" required>
            <label for="sneakerColorwayUpdate">Colorway</label>
            <input type="text" name="sneakerColorwayUpdate" value="" required>
            <label for="sneakerPriceUpdate">Price</label>
            <input type="number" name="sneakerPriceUpdate" value="" required>
            <label for="sneakerStockUpdate">Stock Count</label>
            <input type="number" name="sneakerStockUpdate" value="" required>
            <br>
            <br>
            <button type="submit">Update Sneaker</button>
            <button type="button" onclick="cancelForm('#sneakerUpdateForm')">Cancel</button>
        </fieldset>
    </form>
    <!-- Delete a Sneaker from the database -->
    <form method="POST" id="sneakerDeleteForm" style="display: none">
        <legend>
            <strong>Delete Sneaker</strong>
        </legend>
        <fieldset>
            <label for="sneakerIDDelete"><u>Sneaker ID</u></label>
            <span id="sneakerIDDelete"></span>
            <label for="sneakerModelDelete"><u>Model Name</u></label>
            <span id="sneakerModelDelete"></span>
            <br>
            <br>
            <button type="submit">Delete Sneaker</button>
            <button type="button" onclick="cancelForm('#sneakerDeleteForm')">Cancel</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Sneaker ID</th>
                <th>Brand</th>
                <th>Model Name</th>
                <th>Size</th>
                <th>Colorway</th>
                <th>Price</th>
                <th>Stock Count</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <!-- access the dictionary data passed from the sneaker blueprint -->
            <!-- iterate through the list of dictionaries -->
            {% for sneaker in sneakers %}
            <tr>
                <!-- place each column value in table cells -->
                <td>{{ sneaker.sneaker_id }}</td>
                <td>{{ sneaker.brand }}</td>
                <td>{{ sneaker.model_name }}</td>
                <td>{{ sneaker.size }}</td>
                <td>{{ sneaker.colorway }}</td>
                <td>{{ sneaker.price }}</td>
                <td>{{ sneaker.stock_count }}</td>
                <!-- The JavaScript function implementations are original -->
                <!-- pass the sneaker object to the edit form -->
                <td><button onclick='showSneakerUpdate({{ sneaker | tojson }})'>Edit</button></td>
                <!-- pass the sneaker object to the delete form -->
                <td><button onclick='showSneakerDelete({{ sneaker | tojson }})'>Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>