<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eastern Beaver Sneaker Boutique</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js"></script>
</head>
<body>
    <h1>Eastern Beaver Sneaker Boutique</h1>
    <nav>
        <a href="/">Main</a>
        <a href="customers">Customers</a>
        <a href="sneakers">Sneakers</a>
        <a href="orders">Orders</a>
        <a href="raffles">Raffles</a>
        <a href="drawings">Drawings</a>
        <a href="sneaker_orders">Sneaker Orders</a>
        <a href="raffle_orders">Raffle Orders</a>
        <a href="customer_raffles">Customer Raffles</a>
    </nav>
    <h2>Sneaker Orders</h2>
    <p><strong>Manage Sneaker Order Transactions</strong></p>
    <button onclick="showAddForm()">Add New Sneaker Order Entry</button>
    <form action="sneaker_orders.html" method="POST" class="addForm" style="display: none">
        <legend>
            <strong>Add Sneaker Order</strong>
        </legend>
        <fieldset>
            <label for="soOrderID">Order ID</label>
            <select name="soOrderID" id="soOrderID">
                <option value="blank"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select required>
            <label for="soOrderID">Sneaker ID</label>
            <select name="soSneakerID" id="soSneakerID">
                <option value="blank"></option>
                <option value="null">NULL</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select required>
            <label for="soQuantity">Quantity</label>
            <input type="number" name="soQuantity" required>
            <br>
            <br>
            <button type="submit">Add Sneaker Order</button>
			<button onclick="hideAddForm()">Cancel</button>
        </fieldset>
    </form>
    <form action="sneaker_orders.html" class="updateForm" style="display: none">
        <legend>
            <strong>Update Sneaker Order</strong>
        </legend>
        <fieldset>
            <label for="soIDUpdate">Sneaker Order ID</label>
            <span>1</span>
            <label for="soOrderIDUpdate">Order ID</label>
            <select name="soOrderIDUpdate" id="soOrderIDUpdate">
                <option value="1">1</option>
            </select required>
            <label for="soSneakerIDUpdate">Sneaker ID</label>
            <select name="soSneakerIDUpdate" id="soSneakerIDUpdate">
                <option value="null">NULL</option>
                <option value="4" selected>4</option>
            </select required>
            <label for="soQuantityUpdate">Quantity</label>
            <input type="number" name="soQuantityUpdate" value="1" required>
            <br>
            <br>
            <button type="submit">Update Sneaker Order</button>
			<button onclick="hideUpdateForm()">Cancel</button>
        </fieldset>
    </form>
    <form action="sneaker_orders.html" class="deleteForm" style="display: none">
        <legend>
            <strong>Delete Sneaker Order</strong>
        </legend>
        <fieldset>
            <label for="soIDDelete"><u>Sneaker Order ID</u></label>
            <span>1</span>
            <br>
            <br>
            <button type="submit">Delete Sneaker Order</button>
			<button onclick="hideDeleteForm()">Cancel</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Sneaker Order ID</th>
                <th>Order ID</th>
                <th>Sneaker ID</th>
                <th>Quantity</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>4</td>
                <td>1</td>
                <td><button onclick="showUpdateForm()">Edit</button></td>
                <td><button onclick="showDeleteForm()">Delete</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>4</td>
                <td>1</td>
                <td><button onclick="showUpdateForm()">Edit</button></td>
                <td><button onclick="showDeleteForm()">Delete</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>3</td>
                <td>5</td>
                <td>2</td>
                <td><button onclick="showUpdateForm()">Edit</button></td>
                <td><button onclick="showDeleteForm()">Delete</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
